@import 'vars';

@mixin sidebarButton($group) {
	.side a[href*='##{map-get($group, "lang")}'] { 
	    display: inline-block;
	    position: relative;
	    border: 1px solid black;
	    font-size: 100%;
	    padding: 10px;
	    @if map-get($group, "color") == #FFF {
	    	color: #000;
	    } @else {
		    color: #FFF;
		}
	    font-weight: bold;
	    background-color: map-get($group, "color") !important;
	    min-width: 278px;
	    text-align: center;
	    border-radius: 3px;
	}

	.side a[href*='##{map-get($group, "lang")}']:hover { 
	    @if map-get($group, "color") == #000 {
	    	border-color: #000;
	    } @else {
		    border-color: #FFF;
		}
	}
}

@mixin linksort($group) {
	@include sidebarButton($group);
 	@if map-get($group, "name") == "Outsider" {

		html:lang(#{map-get($group, "lang")}) {
			@include sidebarButton($group)
		}

		html:not(html:lang(#{map-get($group, "lang")})) .side a[href*='##{map-get($group, "lang")}S'],
		html:lang(#{map-get($group, "lang")}) .side a[href*='##{map-get($group, "lang")}H'],
		html:lang(#{map-get($group, "lang")}) .link.linkflair-#{map-get($group, "name")}Team  { 
		    display: none !important;
		}

	} @else {
		html:lang(#{map-get($group, "lang")}) .link:not(.linkflair-#{map-get($group, "name")}Team) {
			display: none
		}
	}
}