$Admin: (
	"color": #3569A4,
	"lang": "AD",
	"name": "Admin"
);

$ENG: (
	"color": #396,
	"lang": "EG",
	"name": "ENG"
);

$PM: (
	"color": #888,
	"lang": "PM",
	"name": "PM"
);

$MFG: (
	"color": #F90,
	"lang": "MF",
	"name": "MFG"
);

$PR: (
	"color": #39F,
	"lang": "PR",
	"name": "PR"
);

$ALL: (
	"color": #FFF,
	"lang": "All", /* This wont even register as a language, So the code that hides the other stuff will never run for all */
	"name": "All"
);